.container {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 80px 0;
}

input[type=text] {
    color: rgb(56, 0, 102);
    background: rgb(243, 243, 243);
    border: 0;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.players-link-container {
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
    background: rgb(56, 0, 102);
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}