.results-container {
    font-family: 'Roboto Condensed', sans-serif;
}

.result {
    margin: 10px;
    padding: 25px;
    border: 1px solid rgb(23, 23, 24);
    color: rgb(255, 230, 3);
    background: rgb(65, 39, 112);
    box-shadow: 1px 5px 5px rgba(68,68,68,0.6);
    text-align: center;
}

.card-description {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


.card-choice {
    cursor: pointer;

}

.card-choice::hover {
    opacity: 0.5;
}