body {
    background: rgb(246, 212, 61);
}

.game-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2.5rem;
    background: rgb(246, 212, 61);
}

.new-game-section {
    display: flex;
    justify-content: center;
    text-align: center; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    background: rgb(47, 41, 41);
    height: 100%;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

}

.menu-a {
    text-decoration: none;
    color: white;
}

a { 
    text-decoration: none;
    color: rgb(61, 0, 158);
}